mixin categories()
    .categories
        h4.categories__title Категории:
        ul
            li.active
                a(href="#") ЧАСТНЫЕ САДЫ
            li
                a(href="#") ОБЩЕСТВЕННЫЕ ПРОСТРАНСТВА