include ../elements/angle-link

.comments
    .comments__header
        h5.comments__title Комментарии к статьи:
        .comments__share
            p Поделиться: 
            a(href="#") VK
            a(href="#") FACEBOOK
            a(href="#") TELEGRAM
    .comments__inet
        .comments__row
            .comments__details
                p.comments__person Маргарита
                p.comments__date 4 апреля
            .comments__text
                p Давно мечтаю о таком газоне. 
                p Изучила инструкции по уходу, не сложные - так что весной будет и у нас такой.
        .comments__row
            .comments__details
                p.comments__person Александра
                p 4 апреля
            .comments__text
                p Давно мечтаю о таком газоне. 
                p Да, это действительно не легкая задача создать такую красоту на своем участке, наверно лучше все-таки прибегнуть у услугам опытных мастеров своего дела. А ведь и правда не зная основных законов ландшафтного дизайна сложно получить идеальный результат!
    .comments__header
        h5.comments__title Оставить комментарий
    form.comments__inet.comments__form
        .comments__row
            input#name(type="text", name="name", placeholder="Введите имя")
            textarea#message(name="message" rows="1" placeholder="Введите комментарий")

