.content
    display: flex
    padding-left: 9vw
    padding-right: 9vw
    +m-table()
        padding-left: 0
        padding-right: 0
    &--mob-wrap
        +m-phone()
            flex-wrap: wrap
    &--no-right
        padding-right: 0
    &--full-height
        align-self: stretch
    &__title
        margin-bottom: 2em
        &--left
            position: relative
            display: flex
            flex-shrink: 0
            align-items: flex-start
            justify-content: center
            width: 9vw
            margin-right: 2em
            margin-bottom: 0
            > *
                position: absolute
                width: max-content
                transform: rotate(-90deg) translateX(-41%)
                color: $help-text-color
            +m-phone()
                margin-right: 15px
    &__addition-block
        width: 15vw
        flex-shrink: 0
        flex-grow: 2
        margin-right: 2em
        +m-desktop()
            min-width: 20vw
            width: min-content
        +m-table()
            min-width: 30vw
            margin-right: 30px
            margin-bottom: 30px


    &__iner
        flex-grow: 1
        p, ul
            line-height: 1.5em
            margin-bottom: 1em
    &__accent-strong
        font-size: 1.4em
        +m-desktop()
            font-size: 1.2em