.section
    position: relative
    padding: 3em 0
    font-size: 1rem
    &--full-height
        display: flex
        align-items: center
        min-height: 100vh

    &--bg-image
        background-size: cover
        background-position: center
        color: $light-text-color
    &--bg-light
        background-color: $light-bg-color

    &__title
        font-family: $main-font
        font-weight: 300
        font-size: 5em
        text-transform: uppercase