.section
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    padding: 6em 0
    font-size: 1rem
    +l-digDesktop(padding, 3em 0)
    +l-phone(padding-bottom, 4em)
    &__nav-iner
        position: absolute
        left: $d-calc-container-pozition
        bottom: 3em
        display: flex
        cursor: pointer
        color: $main-color
        text-decoration: none
        transition: all 1s ease-out
        +l-desktop(left, $t-calc-container-pozition)
        +l-phone(bottom, 1em)
    &__nav-number
        margin-right: 0.5em

    &--full-height
        min-height: 100vh
    &--big
        min-height: 50vh
        padding: 6em 0
        +l-digDesktop(min-height, 100vh)
    &--medium
        padding: 6em 0
    
    &--stretched-content
        padding: 0
        justify-content: stretch

    &--bg-image
        background-size: cover
        background-position: center
        color: $light-text-color
        .section__nav-iner
            color: $light-text-color
            .angle-line, .angle-line::after
                background-color: $light-text-color
    &--bg-light
        background-color: $light-bg-color

