include ../elements/angle-line

mixin section(number = '', bg = false, imgSrc = '')
    if imgSrc
        - var sectionClass = 'section section--bg-image'
        - var sectionImage = 'background-image: url(\'' +  imgSrc + '\')'
    else
        - var sectionClass = 'section'
    section(class= sectionClass style = sectionImage)
        block
        if number
            if imgSrc
                .section__nav-iner.section__nav-iner--light
                    span.section__nav-number= number
                    +angle-line--bottom()
            else 
                .section__nav-iner
                    span.section__nav-number= number
                    +angle-line--bottom()

mixin section--full-height(number = '', bg = false, imgSrc = '')
    if imgSrc
        - var sectionClass = 'section section--full-height section--bg-image'
        - var sectionImage = 'background-image: url(\'' +  imgSrc + '\')'
    else
        - var sectionClass = 'section section--full-height'
    if bg
        - var sectionClass = sectionClass + ' section--bg-light'
    
    section(class= sectionClass style = sectionImage)
        block
        if number
            if imgSrc
                .section__nav-iner.section__nav-iner--light
                    span.section__nav-number= number
                    +angle-line--bottom()
            else 
                .section__nav-iner
                    span.section__nav-number= number
                    +angle-line--bottom()