include ../elements/angle-link

mixin grid-item(title, image= '', link= '#')
    if image
        .grid__item
            a(href= link)
                figure.grid__img
                    img(src= image alt= title)
                h3.grid__title= title
                +angle-link--text('Подробнее', '/project.html', '+')
    else
        .grid__item.grid__item--dark
            a(href= link)
                h3.grid__title= title
                +angle-link--text('Подробнее', '/project.html')