mixin menu-button(isLight= true)
    if isLight  
        a(href="#").menu-button.menu-button__iner.menu-button--light
            .menu-button__menu-line
            span.menu-button__text Menu
    else
        a(href="#").menu-button.menu-button__iner
            .menu-button__menu-line
            span.menu-button__text Menu