mixin progress(start, end, isLight= '')
    if isLight
        .progress.progress--light(class!= attributes.class)
            p.progress__num= start
            .progress__bar
                i
            p.progress__num= end
    else
        .progress(class!= attributes.class)
            p.progress__num= start
            .progress__bar
                i
            p.progress__num= end

