include ../elements/angle-line

mixin section-nav-iner(number, isLight= '', link="#", isTop= '')
    if isLight
        - var sectionClass = 'section__nav-iner section__nav-iner--light'
    else
        - var sectionClass = 'section__nav-iner'

    a(href= link class= sectionClass)
        span.section__nav-number= number
        if isTop
            +angle-line--top()
        else
            +angle-line--bottom()