.projects
    &__iner
        display: grid
        grid-template-columns: $b-menu-width 1fr
        +m-table()
            grid-template-columns: 1fr
            margin-bottom: 3em
    &__navigation
        grid-row: 1 / 3
        position: relative
        +m-table()
            grid-row: 2 / 3
        .categories
            position: sticky
            top: 55%
            margin-bottom: 40px
            +l-table(margin, 1em 0)
    &__title
        margin-bottom: 1em