.project-header
    &__iner
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-self: stretch
        .title__iner
            width: 80%
            +indent-menu-horizontal(padding-left)
            +m-table()
                width: 90%
    &__nav-iner
        position: absolute
        width: 100%
        bottom: 0
        display: flex
        justify-content: center
        //padding-left: $d-menu-width
        +m-table()
            padding: 0
        .progress
            margin: 0 auto
            +m-table()
                display: none