extends ../layouts/main

include ../includes/section

block variables
    - var title = 'Главная страница';
    - var pageClass = 'home-page';
    - var mainContentClass = 'home-page__main';

block main-content
    +section--full-height('01', '', 'img/home_bg.jpg')
        .container
            .title
                h2.title--like-h1.title--center ELEGARDEN
    +section--full-height('02')
        .container.content
            .content__iner
                .content__title
                    h2.title.title--like-h2 Наши услуги
                p Предлагаемое ландшафтное решение учитывает специфику участка.  Узкий и очень длинный участок расположен на первой линии развития.  Между участком и рекой находится водоохранная зона.  Ландшафтное решение визуально расширяет панорамный вид участка.  Территория за участком благоустроена с минимальными инвестициями и без нарушения действующего законодательства.  Эстетическим ресурсом сайта является его расположение на первой линии застройки у реки.  Из дома открывается вид на водную гладь и простор луга.  Ландшафтная планировка позволяет открывать пространство, не блокируя вид на здания, и образует систему расчисток, как бы «натянутую» на основной пешеходный маршрут.  Группы травы и кустарников, окружающие луга, создают поток жидкости.  Травы смешивают с декоративными и фруктовыми кустарниками. 
    +section--full-height('03', '+')
        .container.content
            .content__title.content__title--left
                h2.title.title--like-h2 Что делаем
            .content__iner
                p 
                    strong Максимально высокий результат и точная реализация художественного замысла ландшафтного проекта достигается в том случае, если работы выполняет компания, разработавшая проект. 
                p В результате таких работ Вы получаете сад, созданный с соблюдением технологии производства работ, и соответствующий всем заявленным эстетическим параметрам. Работа с посадочным материалом – это сложный процесс, требующий решения эстетических и технологических задач
                p Предлагаемое ландшафтное решение учитывает специфику участка. Узкий и очень длинный участок расположен на первой линии развития. Между участком и рекой находится водоохранная зона. Ландшафтное решение визуально расширяет панорамный вид участка. Территория за участком благоустроена с минимальными инвестициями и без нарушения действующего законодательства. Эстетическим ресурсом сайта является его расположение на первой линии застройки у реки. Из дома открывается вид на водную гладь и простор луга. Ландшафтная планировка позволяет открывать пространство, не блокируя вид на здания, и образует систему расчисток, как бы «натянутую» на основной пешеходный маршрут. Группы травы и кустарников, окружающие луга, создают поток жидкости. Травы смешивают с декоративными и фруктовыми кустарниками.
                p Редкие, сильные, низкие растения, кажется, стирают границу между забором участка и местом за ним. Небритый кустарник за участком приглашает в сад в стиле paturale. В качестве условного естественного барьера между соседними участками появляются колючие кусты боярышника, шиповника, барбариса, изогнутые стволы терновника. Рядом с водой будет ива с огромной шапкой листвы и мягкими объемами. Небольшой пляж на несколько человек позволит вам хорошо провести время в солнечный летний день.
    
    +section--full-height('04')
        .container.content.content--mob-wrap
            .content__addition-block.number
                h5.number__title 5
                .content__iner
                    p Лет на страже красоты и функциональности садов
            .content__iner
                p.content__accent-strong
                    strong  Elegarden выполняет работы по ландшафтному дизайну, ландшафтному проектированию, ландшафтному строительству, благоустройству, озеленению, уходу за садом, обслуживаю сада 
                p Ландшафтная компания Elegarden создана для того, чтобы идея Вашего сада стала реальностью. Идею сада и озеленения создают заранее, до наступления весеннего тепла - обсуждают детали, формируют пожелания, наблюдать за тем, как мечта о саде обретает чёткие очертания.
                a.content__action(href="#") Узнать больше о нас #[i]
    
    +section--full-height('05', '+')
        .container.content.content--no-right
            .content__title.content__title--left
                h2.title.title--like-h2 Что делаем
            .content__iner
                p 
                    strong Максимально высокий результат и точная реализация художественного замысла ландшафтного проекта достигается в том случае, если работы выполняет компания, разработавшая проект. 
                p В результате таких работ Вы получаете сад, созданный с соблюдением технологии производства работ, и соответствующий всем заявленным эстетическим параметрам. Работа с посадочным материалом – это сложный процесс, требующий решения эстетических и технологических задач
                p Предлагаемое ландшафтное решение учитывает специфику участка. Узкий и очень длинный участок расположен на первой линии развития. Между участком и рекой находится водоохранная зона. Ландшафтное решение визуально расширяет панорамный вид участка. Территория за участком благоустроена с минимальными инвестициями и без нарушения действующего законодательства. Эстетическим ресурсом сайта является его расположение на первой линии застройки у реки. Из дома открывается вид на водную гладь и простор луга. Ландшафтная планировка позволяет открывать пространство, не блокируя вид на здания, и образует систему расчисток, как бы «натянутую» на основной пешеходный маршрут. Группы травы и кустарников, окружающие луга, создают поток жидкости. Травы смешивают с декоративными и фруктовыми кустарниками.
                p Редкие, сильные, низкие растения, кажется, стирают границу между забором участка и местом за ним. Небритый кустарник за участком приглашает в сад в стиле paturale. В качестве условного естественного барьера между соседними участками появляются колючие кусты боярышника, шиповника, барбариса, изогнутые стволы терновника. Рядом с водой будет ива с огромной шапкой листвы и мягкими объемами. Небольшой пляж на несколько человек позволит вам хорошо провести время в солнечный летний день.

    +section('06', '+')
        .container.content
            .content__title.content__title--left
                h2.title.title--like-h2 Что делаем
            .content__iner
                p 
                    strong Максимально высокий результат и точная реализация художественного замысла ландшафтного проекта достигается в том случае, если работы выполняет компания, разработавшая проект. 
                p В результате таких работ Вы получаете сад, созданный с соблюдением технологии производства работ, и соответствующий всем заявленным эстетическим параметрам. Работа с посадочным материалом – это сложный процесс, требующий решения эстетических и технологических задач
                p Предлагаемое ландшафтное решение учитывает специфику участка. Узкий и очень длинный участок расположен на первой линии развития. Между участком и рекой находится водоохранная зона. Ландшафтное решение визуально расширяет панорамный вид участка. Территория за участком благоустроена с минимальными инвестициями и без нарушения действующего законодательства. Эстетическим ресурсом сайта является его расположение на первой линии застройки у реки. Из дома открывается вид на водную гладь и простор луга. Ландшафтная планировка позволяет открывать пространство, не блокируя вид на здания, и образует систему расчисток, как бы «натянутую» на основной пешеходный маршрут. Группы травы и кустарников, окружающие луга, создают поток жидкости. Травы смешивают с декоративными и фруктовыми кустарниками.
                p Редкие, сильные, низкие растения, кажется, стирают границу между забором участка и местом за ним. Небритый кустарник за участком приглашает в сад в стиле paturale. В качестве условного естественного барьера между соседними участками появляются колючие кусты боярышника, шиповника, барбариса, изогнутые стволы терновника. Рядом с водой будет ива с огромной шапкой листвы и мягкими объемами. Небольшой пляж на несколько человек позволит вам хорошо провести время в солнечный летний день.
                p 
                    strong Максимально высокий результат и точная реализация художественного замысла ландшафтного проекта достигается в том случае, если работы выполняет компания, разработавшая проект. 
                p В результате таких работ Вы получаете сад, созданный с соблюдением технологии производства работ, и соответствующий всем заявленным эстетическим параметрам. Работа с посадочным материалом – это сложный процесс, требующий решения эстетических и технологических задач
                p Предлагаемое ландшафтное решение учитывает специфику участка. Узкий и очень длинный участок расположен на первой линии развития. Между участком и рекой находится водоохранная зона. Ландшафтное решение визуально расширяет панорамный вид участка. Территория за участком благоустроена с минимальными инвестициями и без нарушения действующего законодательства. Эстетическим ресурсом сайта является его расположение на первой линии застройки у реки. Из дома открывается вид на водную гладь и простор луга. Ландшафтная планировка позволяет открывать пространство, не блокируя вид на здания, и образует систему расчисток, как бы «натянутую» на основной пешеходный маршрут. Группы травы и кустарников, окружающие луга, создают поток жидкости. Травы смешивают с декоративными и фруктовыми кустарниками.
                p Редкие, сильные, низкие растения, кажется, стирают границу между забором участка и местом за ним. Небритый кустарник за участком приглашает в сад в стиле paturale. В качестве условного естественного барьера между соседними участками появляются колючие кусты боярышника, шиповника, барбариса, изогнутые стволы терновника. Рядом с водой будет ива с огромной шапкой листвы и мягкими объемами. Небольшой пляж на несколько человек позволит вам хорошо провести время в солнечный летний день.
                p 
                    strong Максимально высокий результат и точная реализация художественного замысла ландшафтного проекта достигается в том случае, если работы выполняет компания, разработавшая проект. 
                p В результате таких работ Вы получаете сад, созданный с соблюдением технологии производства работ, и соответствующий всем заявленным эстетическим параметрам. Работа с посадочным материалом – это сложный процесс, требующий решения эстетических и технологических задач
                p Предлагаемое ландшафтное решение учитывает специфику участка. Узкий и очень длинный участок расположен на первой линии развития. Между участком и рекой находится водоохранная зона. Ландшафтное решение визуально расширяет панорамный вид участка. Территория за участком благоустроена с минимальными инвестициями и без нарушения действующего законодательства. Эстетическим ресурсом сайта является его расположение на первой линии застройки у реки. Из дома открывается вид на водную гладь и простор луга. Ландшафтная планировка позволяет открывать пространство, не блокируя вид на здания, и образует систему расчисток, как бы «натянутую» на основной пешеходный маршрут. Группы травы и кустарников, окружающие луга, создают поток жидкости. Травы смешивают с декоративными и фруктовыми кустарниками.
                p Редкие, сильные, низкие растения, кажется, стирают границу между забором участка и местом за ним. Небритый кустарник за участком приглашает в сад в стиле paturale. В качестве условного естественного барьера между соседними участками появляются колючие кусты боярышника, шиповника, барбариса, изогнутые стволы терновника. Рядом с водой будет ива с огромной шапкой листвы и мягкими объемами. Небольшой пляж на несколько человек позволит вам хорошо провести время в солнечный летний день.
                p 
                    strong Максимально высокий результат и точная реализация художественного замысла ландшафтного проекта достигается в том случае, если работы выполняет компания, разработавшая проект. 
                p В результате таких работ Вы получаете сад, созданный с соблюдением технологии производства работ, и соответствующий всем заявленным эстетическим параметрам. Работа с посадочным материалом – это сложный процесс, требующий решения эстетических и технологических задач
                p Предлагаемое ландшафтное решение учитывает специфику участка. Узкий и очень длинный участок расположен на первой линии развития. Между участком и рекой находится водоохранная зона. Ландшафтное решение визуально расширяет панорамный вид участка. Территория за участком благоустроена с минимальными инвестициями и без нарушения действующего законодательства. Эстетическим ресурсом сайта является его расположение на первой линии застройки у реки. Из дома открывается вид на водную гладь и простор луга. Ландшафтная планировка позволяет открывать пространство, не блокируя вид на здания, и образует систему расчисток, как бы «натянутую» на основной пешеходный маршрут. Группы травы и кустарников, окружающие луга, создают поток жидкости. Травы смешивают с декоративными и фруктовыми кустарниками.
                p Редкие, сильные, низкие растения, кажется, стирают границу между забором участка и местом за ним. Небритый кустарник за участком приглашает в сад в стиле paturale. В качестве условного естественного барьера между соседними участками появляются колючие кусты боярышника, шиповника, барбариса, изогнутые стволы терновника. Рядом с водой будет ива с огромной шапкой листвы и мягкими объемами. Небольшой пляж на несколько человек позволит вам хорошо провести время в солнечный летний день.
    