extends ../layouts/main

include ../includes/section
include ../blocks/sec

block variables
    - var title = 'Init Section';
    - var pageClass = 'init-page';
    - var mainContentClass = 'init__main';

block main-content
    +section('f', '01', 'image', 'img/home_bg.jpg', true)
        h2 f - image
    +section('b', '02', 'light')
        h2 b - light
    +section('m', '03')
        h2 m - ' '
    +section()
        h2 ' ' - ' '