extends ../layouts/dark-menu

include ../includes/section

block variables
    - var title = 'Блог';
    - var pageClass = 'blog-page';
    - var mainContentClass = 'blog__main';


block main-content
    +section('01')
        .container.container--header.content.content--no-right
            .content__iner
                .content__title.title__iner
                    p.title__sub-title Садовый промах: как не допустить смертельной схватки цветов у себя на даче
                    h2.title.title--like-h2 КОРОТКиЙ ЗАГОЛОВОК
                .article__info
                    p 29 февраля
                    p 2023 просмотра
                .article__content
                    img(src="img/blog_1.jpg", alt="")
                    h2 Отсутствие четкого плана
                    p Первая и самая очевидная ошибка – это отсутствие конкретного представления о том, как должна выглядеть территория. Чаще всего растения на даче сажаются стихийно: увидели красивый цветок на рынке, купили и посадили там, где есть место или где кажется, что будет неплохо смотреться, рассказывает основатель и генеральный директор архитектурно-ландшафтной компании Primula Антон Кривов. Другой вариант: купили участок земли и сосредоточились на постройке дома и прокладке коммуникаций.
                    p На самом деле начинать нужно с проекта участка еще до начала строительства. Начертите схему участка. Если есть капитальные объекты – постройки, крупные растения, колодец – обозначьте их. Затем продумайте схему тропинок и места для садовой мебели, беседки, надувного бассейна. И только после этого можно планировать, где и какие растения сажать", – советует Кривов.

                    img(src="img/blog_2.jpg", alt="")
                    h2 Загляните в будущее
                    p Перспективы пространства и времени очень часто не учитываются при посадке растений, добавляет Кривов. Можно запланировать красивую клумбу под окнами дома, но из-за рельефа первое, что будет бросаться в глаза, – это компостная куча на другом конце участка. К тому же многолетние растения со временем разрастаются и начинают мешать.

                    p Пройдитесь по участку, представьте, как он будет выглядеть через 5 лет, в разные сезоны и время суток. Например, посадив куст садового жасмина перед окнами, вы спасетесь от полуденного жара и получите прекрасный вид. А посадка саженца рядом с забором в попытке отгородиться от соседей приведет к тому, что через несколько лет выросшее дерево сломает забор или деформируется само, предупреждает эксперт.
            
                include ../blocks/comments
