extends ../layouts/dark-menu

include ../includes/section
include ../elements/blog-item
include ../elements/angle-link

include ../blocks/sec
include ../blocks/container
include ../blocks/title

block variables
    - var title = 'Блог';
    - var pageClass = 'blog-page';
    - var mainContentClass = 'blog__main';


block main-content
    +section('b', '01').section--header
        +container('b')
            .content.content--always--full
                .content__iner
                    +title('h2', 'НАШ БЛОГ').content__title
                    .blog__iner
                        +blog-item('НАИМЕНОВАНИЕ СТАТЬИ', '/img/blog_img_1.jpg')
                        +blog-item--small('НАИМЕНОВАНИЕ СТАТЬИ', '/img/blog_img_2.jpg')
                        +blog-item--small('НАИМЕНОВАНИЕ СТАТЬИ', '/img/blog_img_3.jpg')
                        +blog-item('НАИМЕНОВАНИЕ СТАТЬИ', '/img/blog_img_1.jpg')
                        +blog-item--big('НАИМЕНОВАНИЕ СТАТЬИ', '/img/blog_img_4.jpg')
                        +blog-item('НАИМЕНОВАНИЕ СТАТЬИ', '/img/blog_img_2.jpg')
                        +blog-item('НАИМЕНОВАНИЕ СТАТЬИ', '/img/blog_img_1.jpg')
                    .blog__nav
                        +angle-link('Смотреть больше')