extends ../layouts/dark-menu

include ../includes/section
include ../elements/angle-line
include ../elements/angle-link
include ../elements/progress
include ../elements/angle-nav

block variables
    - var title = 'Главная страница';
    - var pageClass = 'home-page';
    - var mainContentClass = 'home-page__main';

block main-content
    +section--full-height('01', '', 'img/map.jpg')
        .container.contact__header
            .contact__iner
                h1 ELEGARDEN
                p г. Москва ул. #[br] Нахимовский проспект, д.24
                p +7 (925) 755-78-91
                p mail@elegarden.ru
                .contact__link
                    a(href="#") Whatsapp
                    a(href="#") Viber
                    a(href="#") Telegram

    
