extends ../layouts/main

block variables
    - var title = 'Главная страница';
    - var pageClass = 'home-page';
    - var mainContentClass = 'home-page__main';

block main-content
    section.section.section--full-height.section--bg-image(style="background-image: url('img/home_bg.jpg')")
        .container.home-header__iner
            .title__iner
                h2.title.title--like-h1 ELEGARDEN
                p.title__sub-title Создадим красивый и функциональный сад за 60 дней
            .home-header__add-text
                p Измените ландшафтный дизайн вокруг себя — подчеркните индивидуальность
            .home-header__left-text
                p 5 лет на страже красоты и функциональности садов
                
    section.section.section--full-height
        .container.content.content--mob-wrap
            .content__addition-block.number
                h5.number__title 5
                .content__iner
                    p Лет на страже красоты и функциональности садов
            .content__iner
                p.content__accent-strong
                    strong  Elegarden выполняет работы по ландшафтному дизайну, ландшафтному проектированию, ландшафтному строительству, благоустройству, озеленению, уходу за садом, обслуживаю сада 
                p Ландшафтная компания Elegarden создана для того, чтобы идея Вашего сада стала реальностью. Идею сада и озеленения создают заранее, до наступления весеннего тепла - обсуждают детали, формируют пожелания, наблюдать за тем, как мечта о саде обретает чёткие очертания.
                a.content__action(href="#") Узнать больше о нас #[i]
                
    section.section.section--full-height.section--bg-light
        h2 text
