extends ../layouts/main

include ../includes/section
include ../elements/angle-line

block variables
    - var title = 'Главная страница';
    - var pageClass = 'home-page';
    - var mainContentClass = 'home-page__main';

block main-content
    +section--full-height('01', '', 'img/home_bg.jpg')
        .container.home-header__iner
            .title__iner
                h2.title.title--like-h1 ELEGARDEN
                p.title__sub-title Создадим красивый и функциональный сад за 60 дней
            .home-header__add-text
                p Измените ландшафтный дизайн вокруг себя — подчеркните индивидуальность
            .home-header__left-text
                p 5 лет на страже красоты и функциональности садов
    +section--full-height('02')
        .container.content.content--mob-wrap
            .content__addition-block.number
                h5.number__title 5
                .content__iner
                    p Лет на страже красоты и функциональности садов
            .content__iner
                p.content__accent-strong
                    strong  Elegarden выполняет работы по ландшафтному дизайну, ландшафтному проектированию, ландшафтному строительству, благоустройству, озеленению, уходу за садом, обслуживаю сада 
                p Ландшафтная компания Elegarden создана для того, чтобы идея Вашего сада стала реальностью. Идею сада и озеленения создают заранее, до наступления весеннего тепла - обсуждают детали, формируют пожелания, наблюдать за тем, как мечта о саде обретает чёткие очертания.
                a.content__action(href="#") Узнать больше о нас #[i]
    .section.section--full-height.section--bg-light.section--no-padding
        .portfolio__iner
            .portfolio__categories-iner
                h5 Категории:
                ul.portfolio__categories
                    li.active
                        a(href="#") Частные сады 
                    li
                        a(href="#") Общественные
                    li
                        a(href="#") Пространства
            .portfolio__title
                .title__iner
                    p.title__sub-title Частный сад
                    h2.title.title--like-h2 Мурманск 1          
            .portfolio__description
                p Площадь: #[span 16 соток]
                p Город: #[span Москвовская область]
                a(href="#") Смотреть проект 
                    +angle-line--left()
            .portfolio__nav-iner
                .portfolio__progres
                    span.start 01
                    .progres
                    span.end 06
                .portfolio__nav
                    a(href="#")
                        +angle-line--right()
                    span 01 / 06
                    a(href="#")
                        +angle-line--left()
            .portfolio__image
                figure
                    img(src="img/portfolio_img_1.jpg" alt="")
        .section__nav-iner
            span.section__nav-number 03
            +angle-line--bottom()
