extends ../layouts/dark-menu

include ../includes/section
include ../elements/grid-item

include ../blocks/sec
include ../blocks/container
include ../blocks/title
include ../blocks/categories

block variables
    - var title = 'Что уже сделали';
    - var pageClass = 'projects-page';
    - var mainContentClass = 'projects__main';

block main-content
    +section('', '01', 'light').section--header
        +container()
            .projects__iner
                +title('h2', 'Наши проекты').projects__title
                .projects__navigation
                    +categories()
                .projects__info-col
                    .grid__iner
                        +grid-item('Вешки', 'img/proj_img_1.jpg', '/project.html')
                        +grid-item('Заречье')
                        +grid-item('захарово')
                        +grid-item('золотой')
                        +grid-item('мурманск')
                        +grid-item('оскол')
                        

            //- .content.content--always--full
                .content__iner
                    
                    .projects__iner
                        +project-item('Вешки', 'img/proj_img_1.jpg', '/project.html')
                        +project-item('Заречье')
                        +project-item('захарово')
                        +project-item('золотой')
                        +project-item('мурманск')
                        +project-item('оскол')