extends ../layouts/main

include ../includes/section
include ../elements/angle-line
include ../elements/progress
include ../elements/angle-nav

include ../blocks/sec
include ../blocks/container
include ../blocks/title

block variables
    - var title = 'Внутренняя страница "Описание объекта"';
    - var pageClass = 'project-page';
    - var mainContentClass = 'project__main';


block main-content
    +section('f', '01', 'image', 'img/bg_3.jpg')
        +container().project-header__iner
            +title('h1', 'Вешки')
                p Каждый массив насаждений визуально «перетекает» с одного участка в следующий. Разработана система дополняющих насаждений для того, чтобы формировать комфортные условия внутри участков посёлка. Для ландшафтного дизайна каждого участка созданы видовые картины из окон домов.
            .project-header__nav-iner
                +progress('01', '03', 'light')
                +angle-nav('01', '03', 'light')
                
    +section('b', '02')
        +container('b')
            .content
                .content__title.content__title--left
                    +title('h3', 'Что делаем')
                .content__iner
                    p 
                        strong Максимально высокий результат и точная реализация художественного замысла ландшафтного проекта достигается в том случае, если работы выполняет компания, разработавшая проект.
                    p В результате таких работ Вы получаете сад, созданный с соблюдением технологии производства работ, и соответствующий всем заявленным эстетическим параметрам. Работа с посадочным материалом – это сложный процесс, требующий решения эстетических и технологических задач.  
                    p Предлагаемое ландшафтное решение учитывает специфику участка. Узкий и очень длинный участок расположен на первой линии развития. Между участком и рекой находится водоохранная зона. Ландшафтное решение визуально расширяет панорамный вид участка. Территория за участком благоустроена с минимальными инвестициями и без нарушения действующего законодательства. Эстетическим ресурсом сайта является его расположение на первой линии застройки у реки. Из дома открывается вид на водную гладь и простор луга. Ландшафтная планировка позволяет открывать пространство, не блокируя вид на здания, и образует систему расчисток, как бы «натянутую» на основной пешеходный маршрут. Группы травы и кустарников, окружающие луга, создают поток жидкости. Травы смешивают с декоративными и фруктовыми кустарниками.
                    p Редкие, сильные, низкие растения, кажется, стирают границу между забором участка и местом за ним. Небритый кустарник за участком приглашает в сад в стиле paturale. В качестве условного естественного барьера между соседними участками появляются колючие кусты боярышника, шиповника, барбариса, изогнутые стволы терновника. Рядом с водой будет ива с огромной шапкой листвы и мягкими объемами. Небольшой пляж на несколько человек позволит вам хорошо провести время в солнечный летний день.
