extends ../layouts/main

include ../includes/section
include ../elements/chronology-item
include ../elements/progress
include ../elements/angle-nav

block variables
    - var title = 'Внутренняя страница "Услуги';
    - var pageClass = 'service-page';
    - var mainContentClass = 'service__main';


block main-content
    +section--full-height('01', '', 'img/bg_4.jpg')
        .container.project-header__iner
            .title__iner
                h2.title.title--like-h2 Ландшафтное проектирование
            .project-header__nav-iner
                +progress('01', '02', 'light')
                +angle-nav('01', '02', 'light')
                
    +section('02')
        .container.content
            .content__title.content__title--left
                h2.title.title--like-h2 Что делаем
            .content__iner
                p 
                    strong Максимально высокий результат и точная реализация художественного замысла ландшафтного проекта достигается в том случае, если работы выполняет компания, разработавшая проект.
                p В результате таких работ Вы получаете сад, созданный с соблюдением технологии производства работ, и соответствующий всем заявленным эстетическим параметрам. Работа с посадочным материалом – это сложный процесс, требующий решения эстетических и технологических задач.  
                p Предлагаемое ландшафтное решение учитывает специфику участка. Узкий и очень длинный участок расположен на первой линии развития. Между участком и рекой находится водоохранная зона. Ландшафтное решение визуально расширяет панорамный вид участка. Территория за участком благоустроена с минимальными инвестициями и без нарушения действующего законодательства. Эстетическим ресурсом сайта является его расположение на первой линии застройки у реки. Из дома открывается вид на водную гладь и простор луга. Ландшафтная планировка позволяет открывать пространство, не блокируя вид на здания, и образует систему расчисток, как бы «натянутую» на основной пешеходный маршрут. Группы травы и кустарников, окружающие луга, создают поток жидкости. Травы смешивают с декоративными и фруктовыми кустарниками.
                p Редкие, сильные, низкие растения, кажется, стирают границу между забором участка и местом за ним. Небритый кустарник за участком приглашает в сад в стиле paturale. В качестве условного естественного барьера между соседними участками появляются колючие кусты боярышника, шиповника, барбариса, изогнутые стволы терновника. Рядом с водой будет ива с огромной шапкой листвы и мягкими объемами. Небольшой пляж на несколько человек позволит вам хорошо провести время в солнечный летний день.
    +section('03', '+')
        .container.content.chronology
            .content__iner
                .title__iner.title__iner--center
                    h2.title.title--like-h2 ЭТАПЫ РАБОТ

                .chronology__iner
                    +chronology-item('01')
                        p Имея на руках проектно-сметную документацию, необходимую для производства работ, мы заключаем договор на работы. Важной частью договора являются календарный план-график производства и оплаты работ и фиксированная смета на работы.
                    +chronology-item('02')
                        p Вы вносите предоплату за работы согласно календарному плану выполнения и оплаты работ.
                    +chronology-item('03')
                        p Мы выполняем все необходимые работы по созданию сада
                    +chronology-item('04')
                        p Фиксируем каждый этап актом о выполнении и приёмке работ.
                    +chronology-item('05')
                        p Вы получаете готовый к эксплуатации объект ландшафтного строительства – свой сад – и рекомендации по уходу за садом. Мы бесплатно предоставляем уход за Вашим садом в течение 2 недель после его официальной сдачи. Также мы предоставляем гарантию на выполненные работы. Вы можете приобрести дополнительную гарантию на посадочный материал.
                    .line