extends ../layouts/dark-menu

include ../includes/section
include ../elements/grid-item

include ../blocks/sec
include ../blocks/container
include ../blocks/title

block variables
    - var title = 'Список услуг';
    - var pageClass = 'services-page';
    - var mainContentClass = 'services__main';


block main-content
    +section('', '01', 'light').section--header
        +container('b')
            +title('h2', 'Наши проекты').projects__title
            .grid__iner
                +grid-item('ЛАНДШАФТНОЕ ПРОЕКТИРОВАНИЕ', 'img/serv_img_1.jpg', '/service.html')
                +grid-item('ЛАНДШАФТНОЕ СТРОИТЕЛЬСТВО')
                +grid-item('Ландшафтное озеленение')
                +grid-item('ландшафтный консалтинг')
                +grid-item('ОЗЕЛЕНЕНИЕ ИНТЕРЬЕРОВ')
                +grid-item('ОЗЕЛЕНЕНИЕ КРЫШ')