extends ../layouts/main

include ../includes/section
include ../elements/angle-line
include ../elements/angle-link

block variables
    - var title = 'Кто мы';
    - var pageClass = 'who-page';
    - var mainContentClass = 'who__main';

block main-content
    +section--full-height('01', '', 'img/bg_1.jpg')
        .container.container--header.content.content--mob-wrap
            .content__addition-block.number
                h5.number__title 5
                .content__iner
                    p Лет на страже красоты и функциональности садов
            .content__iner
                p.content__accent-strong
                    strong  Elegarden выполняет работы по ландшафтному дизайну, ландшафтному проектированию, ландшафтному строительству, благоустройству, озеленению, уходу за садом, обслуживаю сада 
                p Ландшафтная компания Elegarden создана для того, чтобы идея Вашего сада стала реальностью. Идею сада и озеленения создают заранее, до наступления весеннего тепла - обсуждают детали, формируют пожелания, наблюдать за тем, как мечта о саде обретает чёткие очертания.
                +angle-link('Узнать больше о нас ', '/who-are-we.html', '+')
    +section--full-height('02')
        .container.content.content--mob-wrap
            .content__addition-block.number
                h5.number__title 2
                .content__iner
                    p Месяца на создание сада вашей мечты
            .content__iner
                p.content__accent-strong
                    strong  Внимательны к созданию эстетике вокруг дома, созданию приятной атмосферы, функциональному использованию каждого сантиметра земли
                p При создании ландшафтного дизайна используем материалы высокого качества. Высадим эффектные и здоровые растения из зарекомендовавших себя питомников Европы и России. Замостим витиеватым узором мощения дорожки сада. Создадим английские газоны. Установим элегантную садовую мебель. Запустим японских зеркальных карпов в водоём. Позаботимся о художественной выразительности сада, сохраним природу. Работаем согласно технологиям озеленения, ландшафтного строительства.
                +angle-link('Узнать больше о нас ', '/who-are-we.html')
    +section--full-height('03', '', 'img/bg_2.jpg')
        .container.content.content--no-right
            .grid-info__iner
                .grid-info__item.content__iner
                    h3 Сад — это комфортный мир
                    p Сад — портал из беспокойного города в комфортный мир, где всё устроено так, как Вы хотите.
                .grid-info__item.content__iner
                    h3 Ландшафтный дизайн
                    p Удивительная оправа дома — декорация для неповторимых моментов  жизни.
                .grid-info__item.content__iner
                    h3 Сад — это связь поколений
                    p Продолжите писать семейную историю в атмосфере новой усадьбы. Подарите себе очарование загородного спокойствия.
                .grid-info__item.content__iner
                    h3 Сад — это отдых в кругу друзей и близких
                    p Сад создан чтобы Вам ни куда не пришлось ехать для отдыха в кругу друзей и близких. Вы дома — при этом Вы на отдыхе.
