include ../elements/section-nav-iner
include ../blocks/container
//-   .container.content.content--no-right
footer.footer.section
    +container('b').footer__iner

        .footer__phone
            p +7 (925) 755-78-91
        .footer__title
            h3.title.title--like-h1 ELEGARDEN
        .footer__info--iner
            .footer__copyright
                p © 2005...2020
            .footer__address
                p г. Москва ул. Нахимовский проспект, д.24
                p +7 (925) 755-78-91
                p mail@elegarden.ru
            .footer__link
                p
                    a(href="#") Whatsapp
                p
                    a(href="#") Viber
                p
                    a(href="#") Telegram
        .footer__add-info
            p Ландшафтная компания
    +section-nav-iner('00', '', '#', 'top')


