include ../elements/menu-button
include page-scroll
include header-top

mixin header(isDark= false)
    if isDark
        header.header.header--dark
            .container
                +header-top()
            include main-menu
        +page-scroll()
    else
        header.header
            .container
                +header-top()
            include main-menu
        +page-scroll()
