include ../elements/main-menu-item

.main-menu
    .container.main-menu__iner
        +header-top(false)
        ul.main-menu__menu-items
            +main-menu-item('Главная', '', '/').active
            +main-menu-item('КТО', 'МЫ ТАКИЕ', 'who-are-we.html')
            +main-menu-item('ЧТО', 'УЖЕ СДЕЛАЛИ', 'projects.html')
            +main-menu-item('КАКИЕ', 'ЕСТЬ УСЛУГИ', 'services.html')
            +main-menu-item('ГДЕ', 'НАС НАЙТИ', 'contact.html')
            +main-menu-item('ЧИТАТЬ', 'НАШ БЛОГ', 'blog.html')
        .main-menu__mail 
            p mail@elegarden.ru
        .main-menu__address
            p г. Москва ул. Нахимовский проспект, д.24
