include ../elements/menu-button
include ../elements/main-menu-item

.main-menu
    .container.main-menu__iner
        .header__top
            .header__logo
            .header__contact
                p +7 (922) 246 66 55
        ul.main-menu__menu-items
            +main-menu-item('Главная', '', '/').active
            +main-menu-item('КТО', 'МЫ ТАКИЕ', 'who-are-we.html')
            +main-menu-item('ЧТО', 'УЖЕ СДЕЛАЛИ', '#')
            +main-menu-item('КАКИЕ', 'ЕСТЬ УСЛУГИ', '#')
            +main-menu-item('ГДЕ', 'НАС НАЙТИ', '#')
            +main-menu-item('ЧИТАТЬ', 'НАШ БЛОГ', '#')
        .main-menu__mail 
            p mail@elegarden.ru
        .main-menu__address
            p г. Москва ул. Нахимовский проспект, д.24
