include ../elements/angle-line

mixin page-scroll()
    .page-scroll.page-scroll__iner
        ul.page-scroll__nav

        .page-scroll__screen-jump
            span.page-scroll__screen-number 01
            +angle-line--bottom()